# Tasks 1

- The dataset contains the collection of data of cars in USA 
- Dataset contains the information of the model, brand, price, color, mileage, title_status, country, state, etc...

In [1]:
#importing libraries

import pyspark
from pyspark.sql import SparkSession
from itertools import islice
from pyspark.sql import Row
import pyspark.sql.functions as f

In [2]:
# object to create the spark session
spark= SparkSession.builder.appName('pyspark-training').master('local').getOrCreate()

In [3]:
spark.getActiveSession()

In [4]:
sc = spark.sparkContext

In [5]:
sc.setLogLevel('WARN')

In [6]:
# to read the csv file in spark
df_us_cars = spark.read.option('header', 'true').\
csv('C:\\Users\\user\\Desktop\\PGDDSAI\\SEM_2\\Big Data&Apache Spark\\USA_cars_datasets.csv')

In [7]:
df_us_cars.show(5)

+------+-----+---------+-------+----+-------------+--------+------+-------------------+---------+----------+-------+-------------+
|row_id|price|    brand|  model|year| title_status| mileage| color|                vin|      lot|     state|country|    condition|
+------+-----+---------+-------+----+-------------+--------+------+-------------------+---------+----------+-------+-------------+
|     0| 6300|   toyota|cruiser|2008|clean vehicle|274117.0| black|  jtezu11f88k007763|159348797|new jersey|    usa| 10 days left|
|     1| 2899|     ford|     se|2011|clean vehicle|190552.0|silver|  2fmdk3gc4bbb02217|166951262| tennessee|    usa|  6 days left|
|     2| 5350|    dodge|    mpv|2018|clean vehicle| 39590.0|silver|  3c4pdcgg5jt346413|167655728|   georgia|    usa|  2 days left|
|     3|25000|     ford|   door|2014|clean vehicle| 64146.0|  blue|  1ftfw1et4efc23745|167753855|  virginia|    usa|22 hours left|
|     4|27700|chevrolet|   1500|2018|clean vehicle|  6654.0|   red|  3gcpcrec2jg473991|167763266|   florida|    usa|22 hours left|
+------+-----+---------+-------+----+-------------+--------+------+-------------------+---------+----------+-------+-------------+
only showing top 5 rows

In [8]:
df_us_cars.columns

['row_id',
 'price',
 'brand',
 'model',
 'year',
 'title_status',
 'mileage',
 'color',
 'vin',
 'lot',
 'state',
 'country',
 'condition']

In [9]:
df_us_cars.printSchema()

root
 |-- row_id: string (nullable = true)
 |-- price: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- model: string (nullable = true)
 |-- year: string (nullable = true)
 |-- title_status: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- color: string (nullable = true)
 |-- vin: string (nullable = true)
 |-- lot: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- condition: string (nullable = true)

### - The datatype  of the Price and Mileage column is string to convert the datatype to integer we use cast( ) function in spark

In [10]:
price = f.col('price').cast('int')

In [11]:
df_us_cars = df_us_cars.withColumn('price',price)

In [12]:
mileage = f.col('mileage').cast('int')

In [13]:
df_us_cars = df_us_cars.withColumn('mileage',mileage)

In [14]:
df_us_cars.printSchema()

root
 |-- row_id: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- brand: string (nullable = true)
 |-- model: string (nullable = true)
 |-- year: string (nullable = true)
 |-- title_status: string (nullable = true)
 |-- mileage: integer (nullable = true)
 |-- color: string (nullable = true)
 |-- vin: string (nullable = true)
 |-- lot: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- condition: string (nullable = true)

In [15]:
df_us_cars.select('mileage','brand','model','title_status').show()

+-------+---------+-------+-------------+
|mileage|    brand|  model| title_status|
+-------+---------+-------+-------------+
| 274117|   toyota|cruiser|clean vehicle|
| 190552|     ford|     se|clean vehicle|
|  39590|    dodge|    mpv|clean vehicle|
|  64146|     ford|   door|clean vehicle|
|   6654|chevrolet|   1500|clean vehicle|
|  45561|    dodge|    mpv|clean vehicle|
| 149050|chevrolet|     pk|clean vehicle|
|  23525|      gmc|   door|clean vehicle|
|   9371|chevrolet| malibu|clean vehicle|
|  63418|     ford|    mpv|clean vehicle|
| 107856|    dodge|  coupe|clean vehicle|
|  39650|      gmc|    mpv|clean vehicle|
|  22909|chevrolet|   1500|clean vehicle|
| 138650| chrysler|  wagon|clean vehicle|
| 100757|     ford|   door|clean vehicle|
|  25747|      gmc|   door|clean vehicle|
|  46194|      kia|  forte|clean vehicle|
|  20002|    buick| encore|clean vehicle|
|  35714|     ford|    mpv|clean vehicle|
|  54380|     ford|   door|clean vehicle|
+-------+---------+-------+-------------+
only showing top 20 rows

## Q1. Mark rows of cars where the car prices are over 10000 USD

In [16]:
print("Number of cars where the car prices are over 10000 USD :",\
      df_us_cars.where(price >= '10000').count())

Number of cars where the car prices are over 10000 USD : 1890

In [17]:
print("Rows of cars where the car prices are over 10000 USD :")
df_us_cars.where(price > 10000).select('price','model','brand').show()

Rows of cars where the car prices are over 10000 USD :
+-----+-------+---------+
|price|  model|    brand|
+-----+-------+---------+
|25000|   door|     ford|
|27700|   1500|chevrolet|
|13350|   door|      gmc|
|14600| malibu|chevrolet|
|10400|  coupe|    dodge|
|12920|    mpv|      gmc|
|31900|   1500|chevrolet|
|20700|   door|     ford|
|12710|   door|      gmc|
|16500| encore|    buick|
|38100|   door|     ford|
|12520|   door|      gmc|
|15000|   door|chevrolet|
|20800|   door|     ford|
|11900|   door|      gmc|
|21500|sorento|      kia|
|12000|   door|    buick|
|13000|chassis|     ford|
|12710|   door|      gmc|
|18500|    q70| infiniti|
+-----+-------+---------+
only showing top 20 rows

## Q2. Add new column to the dataset where the car prices are converted to INR. Use the factor USD 1 = Rs. 75

In [18]:
# To add ne column in the dataframe we use the withColumn() function

df_us_cars.withColumn('INR_Price',df_us_cars.price*75).select('row_id','price','INR_Price').show()

+------+-----+---------+
|row_id|price|INR_Price|
+------+-----+---------+
|     0| 6300|   472500|
|     1| 2899|   217425|
|     2| 5350|   401250|
|     3|25000|  1875000|
|     4|27700|  2077500|
|     5| 5700|   427500|
|     6| 7300|   547500|
|     7|13350|  1001250|
|     8|14600|  1095000|
|     9| 5250|   393750|
|    10|10400|   780000|
|    11|12920|   969000|
|    12|31900|  2392500|
|    13| 5430|   407250|
|    14|20700|  1552500|
|    15|12710|   953250|
|    16| 5200|   390000|
|    17|16500|  1237500|
|    18| 5210|   390750|
|    19|38100|  2857500|
+------+-----+---------+
only showing top 20 rows

## Q3. Find top 5 cars with the highest mileage.

In [19]:
# Highest Mileage in the dataset
df_us_cars.select(f.max(f.col("mileage")).alias("MAX")).show()

+-------+
|    MAX|
+-------+
|1017936|
+-------+

In [20]:
# Here groupby() is to group the data according to the brand
# f.max() is use to calculate the maximum value
# alias() is use to give the name to new column
# orderBy(),.desc() is used to arrange the data in descending order
print("Cars having the highest Mileage :")
df = df_us_cars.groupby('brand').agg(f.max(f.col('mileage')).alias('MAX_mileage')).\
select('brand','MAX_mileage').\
orderBy(f.col('Max_mileage').desc()).show(5)

Cars having the highest Mileage :
+---------+-----------+
|    brand|MAX_mileage|
+---------+-----------+
|peterbilt|    1017936|
|     ford|     999999|
|chevrolet|     507985|
|   toyota|     274117|
|    dodge|     239822|
+---------+-----------+
only showing top 5 rows

 ## Q4. Find  top 2 average mileage per car maker

In [21]:
# Here groupby() is to group the data according to the brand
# f.avg() is use to calculate the average value
# alias() is use to give the name to new column
# orderBy(),.desc() is used to arrange the data in descending order
print("Top 2 average mileage per car : ")
df_us_cars.groupby('brand').agg(f.avg(f.col('mileage')).alias('AVG')).select('brand','AVG').orderBy(f.col('AVG').desc()).show(2)

Top 2 average mileage per car :
+---------+---------+
|    brand|      AVG|
+---------+---------+
|peterbilt|725615.75|
|   toyota| 274117.0|
+---------+---------+
only showing top 2 rows

## Q5. Find the number of cruiser class cars present in the dataset

In [22]:
# filter() is use to filter the data where the model name is cruiser
# count() is to calculate the number of time specific data present in dataset

print("Number of cruiser class cars present:",df_us_cars.filter(df_us_cars.model == 'cruiser').count())

Number of cruiser class cars present: 1

## Q6. Find the number of vehicles that are clean and the number of vehicles that have been salvaged

In [23]:
# 2 ways to check the number of vehicles that are clean and the number of vehicles that have been salvaged 
df_us_cars.groupby("title_status").count().collect()

[Row(title_status='salvage insurance', count=163),
 Row(title_status='clean vehicle', count=2336)]

In [24]:
df_us_cars.groupby("title_status").count().show()

+-----------------+-----+
|     title_status|count|
+-----------------+-----+
|salvage insurance|  163|
|    clean vehicle| 2336|
+-----------------+-----+

## Q7. Find the number of salvaged cars per state.

In [25]:
("Distinct title_status present:" )
# distinct() is used to find the distinct values in the column
df_us_cars.select("title_status").distinct().show()

+-----------------+
|     title_status|
+-----------------+
|salvage insurance|
|    clean vehicle|
+-----------------+

In [26]:
print("number of state present in dataset :",df_us_cars.select("state").distinct().count())

number of state present in dataset : 44

In [27]:
print("Number of state having title status salvage insurance :",\
      df_us_cars.where(df_us_cars.title_status=="salvage insurance").select('state').distinct().count())

Number of state having title status salvage insurance : 32

In [28]:
# checking number of Salvage insurance cars per state
print("Number of Salvage insurance cars per state : ")
df_us_cars.where(f.col("title_status") == "salvage insurance").groupby("state").count().show()

Number of Salvage insurance cars per state :
+--------------+-----+
|         state|count|
+--------------+-----+
|north carolina|    5|
|  pennsylvania|    1|
|       montana|    1|
|south carolina|    5|
|    new jersey|    1|
|         texas|   17|
|      maryland|    4|
| massachusetts|    5|
|      oklahoma|   13|
|        oregon|    2|
|          utah|    3|
|   mississippi|    3|
|        nevada|    1|
|      arkansas|    9|
|     tennessee|    6|
|         idaho|    2|
|       arizona|    1|
|      illinois|    9|
|       florida|   11|
|      michigan|   11|
+--------------+-----+
only showing top 20 rows